<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#181c25" />
    <script type="module" src="/assets/js/app.js"></script>
    <link rel="manifest" href="/app.webmanifest" crossorigin="use-credentials" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link type="text/css" rel="stylesheet" href="/assets/css/exception.css" />
    <title>{{title}}</title>
</head>

<body>
    {{{body}}}
</body>

</html>