body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.error-code {
    font-size: 5em;
    font-weight: bold;
    color: #dc3545;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn-home {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
}

.btn-home:hover {
    background-color: #0056b3;
}

.btn-go-back {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #28a745; /* Green color */
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px; /* To separate from other elements */
    cursor: pointer;
    border: none;
}

.btn-go-back:hover {
    background-color: #218838; /* Darker green for hover effect */
}