<div class="flexy">
    {{!-- See: https://www.rssboard.org/rss-history --}}
    <dialog role="alertdialog" aria-labelledby="idOfLabelingText" class="flexy">
        <h3>Privacy and cookie settings</h3>
        <h4>This web app asks for consent to use your data</h4>
        <p>Your personal data will be processed and information from your device (cookies, unique identifiers, and other device data) may be stored by, accessed by and used specifically by this site or app.</p>
        <p>Look for a link at the bottom of this page to manage or withdraw consent in Privacy and cookie settings.</p>
        <form method="dialog" class="flexy">
            <button type="submit" aria-label="close" formmethod="dialog" formnovalidate="formnovalidate" autofocus="autofocus">Close</button>
            <button type="submit">Do not consent</button>
            <button type="submit">Consent</button>
        </form>
        <p>Try closing this dialog using <kbd>Esc</kbd>&period;</p>
    </dialog>
    <button type="button" title="Privacy and cookie settings">Privacy and cookie settings</button>
</div>
<p>We use cookies to improve your experience. By using this website you agree to our Cookie Policy</p>
<button type="button">Accept</button>
<button type="button">Deny</button>