<!-- menu.hbs -->
<a href="/">Root</a>
<a href="/v1">Homepage</a>
<a href="/cc">Admin</a>
<a href="/cc/setup">Setup</a>
<a href="/cc/signin">Signin</a>
<a href="/cc/register">Register</a>
<a href="/cc/signout">Signout</a>