<section class="flexy">
    <hgroup class="flexy">
        <h2>This content isn't available at the moment</h2>
        <p>When this happens, it's usually because the owner only shared it with a small group of people or changed who can see it, or it's been deleted.</p>
        <p><a href="/feeds">Go to Your Feeds</a></p>
    </hgroup>
</section>
<div id="loading-icon" style="display: none;" class="flexy">
    <img src="/v1/assets/images/eye.svg" alt="Loading..." title="Loading" style="width: 250px; height: 150px;" loading="lazy" />
</div>