<figure class="flexy">
    <img src="https://picsum.photos/2000/500" title="" alt="" loading="lazy" />
    <figcaption>Non quas ipsa eius minima</figcaption>
</figure>
<div id="loading-icon" style="display: none;" class="flexy">
    <img src="/v1/assets/images/eye.svg" alt="Loading..." title="Loading" style="width: 250px; height: 150px;" loading="lazy" />
</div>