<section class="flexy">
    <h2>Player</h2>
    {{!-- 1. The <iframe> (and video player) will replace this <div> tag. --}}
    <div id="player" class="flexy"></div>
    {{!-- <iframe id="player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com" frameborder="0"></iframe> --}}
</section>
<section class="flexy">
    <h2>Playlists</h2>
    <div id="playlists" class="flexy"></div>
</section>
<div id="loading-icon" style="display: none;" class="flexy">
    <img src="/v1/assets/images/eye.svg" alt="Loading..." title="Loading" style="width: 250px; height: 150px;" loading="lazy" />
</div>