@font-face {
	font-family: "Graduate";
	font-style: normal;
	font-weight: 400;
	src: local("Graduate"),
		local("Graduate-Regular"),
		url("../fonts/graduate.eot") format("embedded-opentype"),
		url("../fonts/graduate.ttf") format("truetype"),
		url("../fonts/graduate.woff") format("woff");
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14pt;
  -webkit-box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
  margin: 0 auto;
  word-wrap: break-word;
  color-scheme: dark light;
}

:root {
  --back: #f8f9fa;
  --secondary: #444;
  --text: #181c25;
  --text-disabled: #8c8c8c;
  --primary: #ffbb50;
}

@media (max-width: 600px) {
  html {
    font-size: 12pt;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 11pt;
  }
}

ol, ul {
  margin: 1em;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > ul {
  padding-left: 1rem;
}

dl {
  font-family: monospace, monospace;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin: -1em 0 1em 1em;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

table {
  caption-side: bottom;
}

table * {
  border: none;
}

table thead, table tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

table tr:nth-child(even) {
  background-color: rgba(200, 200, 200, 0.2);
}

table tbody {
  max-height: 70dvh;
  overflow-y: auto;
}

figure {
  margin: 1rem 0;
}

figure figcaption {
  font-family: monospace, monospace;
  font-size: 0.75rem;
  text-align: center;
  color: grey;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background: transparent;
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 100vh;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    accent-color: #04669b;
    color: var(--text);
    background-color: var(--back);
    white-space: pre-wrap;
    position: relative;
    height: 100dvh;
}

h1, h2, h3 {
  line-height: 1.2;
  width: fit-content;
}

h1 {
  padding-left: 50px;
	font-size: 2em;
	line-height: 1.2em;
	text-align: center;
	color: #6c6b6b;
  background: url("../images/firebase-logo.png") no-repeat;
  background-size: 40px;
}

h1::before {
	content: " • ";
}

h1::after {
	content: " • ";
}

p {
  line-height: 1.5;
}

@supports (text-wrap: pretty) and (hyphenate-limit-chars: 7) {
  p {
    line-height: 1.5;
    text-wrap: balance;
    hyphens: auto;
    hyphenate-limit-chars: 10;
  }
}

p code {
  background-color: #eee;
  padding: 0.05rem 0.2rem;
  border: 1px solid #ccc;
}

a {
  color: #fa6432;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

[aria-label="close"] {
  appearance: none;
  float: right;
  border: 1px solid;
  border-radius: 50%;
}

:focus {
  outline: 2px solid #226DAA;
}

dialog {
  width: 30rem;
  max-width: 60vw;
  color: CanvasText;
  background-color: Canvas;
  opacity: 0;
  transform: scaleY(0);
  transition:
    opacity 0.7s ease-out,
    transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete,
    display 0.7s ease-out allow-discrete;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
  animation: fade-out 0.7s ease-out;
}

dialog[open] {
  opacity: 1;
  transform: scaleY(1);
  animation: fade-in 0.7s ease-out;
}

@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scaleY(0);
  }
}

dialog[aria-modal="false"] {
  border: thin solid red;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition:
    display 0.7s allow-discrete,
    overlay 0.7s allow-discrete,
    background-color 0.7s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 25%);
  animation: backdrop-fade-in 0.7s ease-out forwards;
}

/* This starting-style rule cannot be nested inside the above selector
because the nesting selector cannot represent pseudo-elements. */

@starting-style {
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}

form {
    padding: 1rem;
    background: #cacaca3d;
    display: flex;
    box-sizing: border-box;
    backdrop-filter: blur(1rem);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 90dvw;
  max-width: 25rem;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

input {
    border: thin solid;
    margin: .3rem;
    padding: .3rem;
    flex-grow: 1;
    width: 100%;
}

input:focus {
    outline: none;
}

label {
  display: inline-block;
  font-size: 1.2rem;
  margin-top: 1rem;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  border: none;
}

input[type="submit"] {
  font-weight: 700;
  color: var(--back);
  background-color: #14854B;
  border-color: #14854B;
}

button,
input[type="submit"],
input[type="reset"],
label {
  cursor: pointer;
}

button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled {
  cursor: not-allowed;
}

button[data-for="feedback"] {
  background-color: transparent;
  vertical-align: middle;
}

  .hidden {
    display: none;
  }

/* Basic styles for navigation */
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
gap: 1rem;
interpolate-size: allow-keywords;
/*overflow-y: clip;*/
transition: height .35s ease;

@starting-style {
  height: 0;
}
}

*.flexy.nav-bar {
  padding: .5rem;
  list-style-type: none;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-content: center;
  gap: .5rem;
}

*.nav-item {
  margin: .25rem;
  padding: 0;
  position: relative;
  border: 1px solid #ddd;
    border-radius: 4px;
}

  *.nav-link,
  *.dropdown-toggle {
    display: block;
    color: #666;
    background-color: transparent;
    text-align: center;
    padding: .5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
  }

  *.dropdown-toggle {
    color: #555;
  }

  *.nav-link:hover:not(*.active),
  *.dropdown-toggle:hover:not(*.active) {
    background-color: #dddddd;
  }

  *.nav-link.active,
  *.dropdown-toggle.active {
    color: white;
    background-color: #008cba;
  }

  /* Sub-menu styles */

  *.dropdown-menu {
    padding: 0;
    display: none;
    position: absolute;
    top: 98%;
    min-width: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    list-style: none;
  }

  *.dropdown-menu li {
    padding: 0;
    border-bottom: 1px solid #ddd;
  }

  *.dropdown-menu li:last-child {
    border-bottom: none;
  }

  *.dropdown-toggle:is(:hover, :focus) + *.dropdown-menu,
  *.dropdown-menu:is(:hover, :focus-within) {
    display: block;
  }

  *.hamburger {
    display: none;
    color: transparent;
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  font-size: 0;
  }

/* Responsive Design */
  @media (max-width: 768px) {
    nav *.nav-bar {
      flex-direction: column;
      display: none; /* Default hidden for mobile */
    }
  
    nav *.nav-bar.open {
      display: flex; /* Show menu when "hamburger" is toggled */
    }

    nav *.hamburger {
      display: block;
      cursor: pointer;
    }
  }

dialog {
    /* Please keep these colors in sync with skins/default.css */
    --back: #181c25;
    --text: #fefefe;
    --primary: #ffbb50;
  }
  
dialog::backdrop {
    background-color: #0008;
  }
  
dialog {
    max-width: 900px;
    border: 1px solid black;
    border-radius: .5rem;
    background: var(--back);
    color: var(--text);
    box-shadow: 0 0 1rem 0 #0008;
    overflow: hidden;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(260px, 1fr) 2fr;
    grid-template-rows: min-content auto auto;
  }
  
dialog:not([open]) {
    display: none;
  }

  canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}

main {
  padding: 1rem 2rem;
  max-width: 100%;
  max-height: 100%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

*.maps {
  width: 100%;
  height: 100%;
}

*.control-panel {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 25%;
}

*.heading {
  background-color: transparent;
  /*border-bottom: 1px solid #eee;*/
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 1;
}

footer {
  padding: 1em;
  width: 100dvw;
  max-width: 100%;
  background-color: #ededed;
  font-weight: 500;
}

/* Animation keyframes */

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 25%);
  }
}

*.flexy {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  flex-direction: column;
  -ms-flex-wrap: nowrap; /* IE10 */
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

*.flexy.row {
  flex-direction: row;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  align-content: center;
}

*.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

*.posts.container {
  gap: 2rem;

  article {
    flex: 0 0 22rem;
    gap: .5rem;
  }
}

*.post {
  *.tags,
  *.reactions {
    gap: .5rem;
  }
}

#loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#card-element {
  color: #ffffff;
  background-color: transparent;
}

#card-element,
#card-errors {
  width: 100%;
}

#appMessages {
  display: none;
}

[popover] {
  background: black;
  color: white;
  font-weight: 400;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  max-width: 20ch;
  line-height: 1.4;
  top: 2rem;
  margin: 0 auto;
}

/* Animating the popover in */

/*   IS-OPEN STATE   */
[popover]:popover-open {
  translate: 0 0;
}

/*   EXIT STATE   */
[popover] {
  transition: translate 0.7s ease-out, display 0.7s ease-out allow-discrete, overlay 0.7s ease-out allow-discrete;
  translate: 0 -22rem;
}

/*   0. BEFORE-OPEN STATE   */
@starting-style {
  [popover]:popover-open {
    translate: 0 -22rem;
  }
}