body {
    margin: 0;
    padding: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form {
    margin: 1rem;
    padding: 1rem;
    background: #8787873d;
    display: flex;
    box-sizing: border-box;
    backdrop-filter: blur(1rem);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 25rem;
    gap: 1rem;
}

input {
    border: none;
    margin: .25rem;
    padding: .25rem;
    flex-grow: 1;
    height: 2rem;
}

input:focus {
    outline: none;
}