<hgroup class="flexy">
    <h1>{{title}}</h1>
    <p>{{heading}}</p>
</hgroup>
<p>{{subheading}}</p>
<em><code>Support assistant 21:23</code></em>
<textarea name="" id="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, ullam nesciunt doloribus aspernatur fugit...</textarea>
<em><code>Understood. Our support team can help you with that.</code></em>
<em><code>Support assistant 21:24</code></em>
<dialog open="open">
    <form>
        <input type="submit" value="Close" formmethod="dialog" autofocus="autofocus" />
        <h3>Talk to an agent</h3>
        <p>We&apos;ll pass on the all details you’ve already shared.</p>
        <button>Chat</button>
        <p>Agent will be with you shortly. Please do not close the chat.</p>
        <p>Chat started. Support agent 21:24</p>
    </form>    
</dialog>