<form action="/v1/portal/register" method="post" enctype="application/x-www-form-urlencoded">
    <fieldset>
        <legend>
            <p>Fill the form below or send an email to <a href="mailto:support@abuein.com">support@abuein.com</a>&period;</p>
        </legend>
        <label for="myEmail">Email address<input type="email" name="email" autocomplete="email" id="myEmail" required="required" /></label>
        <label for="mySubject">Subject<input type="text" name="subject" id="mySubject" required="required" /></label>
        <label for="myMessage">Message<textarea name="message" id="myMessage" cols="30" rows="10"></textarea></label>
        <input type="submit" value="Send" />
    </fieldset>
</form>