<div class="error-code">{{code}}</div>
<hgroup class="flexy">
    <h1>{{heading}}</h1>
    <p>{{subheading}}</p>
</hgroup>
<a href="javascript:history.back()" class="btn-go-back" title="Click to go back">Go Back</a>
<a href="/" class="btn-home" title="Open the homepage">Homepage</a>