<label class="flexy">Filter&colon;<select onchange="window.location.assign('/v1/feeds?filter=' + this.value);">
    <option value="/" disabled="disabled" hidden="hidden" selected="selected">Filter:</option>
    <option value="all">All</option>
    <option value="read">Read</option>
    <option value="listen">Listen</option>
    <option value="watch">Watch</option>
    <option value="see">See</option>
</select></label>