<div class="flexy">
    <button id="notifications" type="button">Request dummy notifications</button>
</div>
<div class="flexy">
    <favicon-badge src="/v1/assets/images/favicons/favicon.svg" textColor="#fff" badge=""></favicon-badge>
    <p>Install the app by clicking the button below. After the installation, the button is disabled.</p>
    <button id="installWebApp" type="button" disabled="disabled" title="Install app">Install app</button>
</div>