<!-- signout.hbs -->
<h1>Logout Successfull</h1>
<h2>API Gateway &dash; Version 1.0</h2>
<p>You have successfully logged out.</p>
<a href="/">Root</a>
<a href="/v1">Homepage</a>
<a href="/cc/signin">Signin</a>
<a href="/cc/register">Register</a>