<svg width="800" height="600" xmlns="http://www.w3.org/2000/svg">
  <g id="map">
    <path id="country-1" d="M10 10 L100 10 L100 100 L10 100 Z" fill="#eee" stroke="#000" />
    <path id="district-2" d="M120 10 L200 10 L200 100 L120 100 Z" fill="#ccc" stroke="#000" />
  </g>
</svg>
<p>We have created a game area! (or at least an empty canvas)</p>