<script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps-web.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.25.0/maps/maps.css" />
<button id="fetchLocationButton">Get location</button>
<script type="module">
import { getScreenShot } from "../assets/js/modules/maps.js";
document.getElementById("fetchLocationButton").addEventListener("click", async () => {
    try {
        const url = await getScreenShot(10);
        console.log("Static Image URL:", url);
        const imgElement = document.createElement("img");
        imgElement.src = url;
        document.body.appendChild(imgElement);
    } catch (error) {
        console.error("Error:", error);
    }
});
</script>