<p>https://profile.oracle.com/myprofile/account/confirmation.jspx</p>
<h3>Check Your Email</h3>
<p>Verify your email address to use your account.</p>
<p>We sent an email to sabuein@gmail.com with a button to verify your email address.</p>
<p>Did you receive the email? If not, check your spam folder or request a new verification email for up to 3 days. If you do not verify your email address within 3 days, you will need to create a new account. If you are having trouble, see Account Help.</p>
<p>Account Help | Subscriptions | Unsubscribe | Privacy / Do Not Sell My Info | Cookie Preferences</p>