{{!-- Container for the Table of content. --}}
<div class="flexy">
  {{!-- div to display the generated registration token. --}}
  <div id='token_div' style='display: none;' class="flexy">
    <h4>Registration Token</h4>
    <p id='token' style='word-break: break-all;'></p>
    <button id='delete-token-button'>Delete Token</button>
  </div>
  {{!-- div to display the UI to allow the request for permission to notify the user. This is shown if the app has not
  yet been granted permission to notify. --}}
  <div id='permission_div' style='display: flex;' class="flexy">
    <h4>Needs Permission</h4>
    <button id='request-permission-button'>Request Permission</button>
  </div>
  {{!-- div to display messages received by this app. --}}
  <div id='messages' class="flexy"></div>
</div>