<hgroup class="flexy">
    <h1>Push payload</h1>
    <p>Send push notifications with a payload.</p>
</hgroup>
<form>
Notification payload: <input id='notification-payload' type='text' value='Insert here a payload'></input>
Notification delay: <input id='notification-delay' type='number' value='5'></input> seconds
Notification Time-To-Live: <input id='notification-ttl' type='number' value='0'></input> seconds
</form>

<button id="doIt">Request sending a notification!</button>