<hgroup class="flexy">
    <h1>Sign up</h1>
</hgroup>
<form action="/v1/api/auth/register" method="post" enctype="application/x-www-form-urlencoded">
<fieldset>
    <legend>Please fill out this form to finalize your account</legend>
    <label for="myFirstName">First name&colon;<input type="text" name="firstName" autocomplete="given-name" id="myFirstName" required="required" /></label>
    <label for="myLastName">Last name&colon;<input type="text" name="lastName" autocomplete="family-name" id="myLastName" required="required" /></label>
</fieldset>
    <label for="myUsername">Username&colon;<input type="text" name="username" autocomplete="username" id="myUsername" required="required" /></label>
    <p>Your username hides your identity from our customers. Choose a name that doesn’t include elements of your first name, last name, or payment email address.</p>
    <label for="myEmail">Email address&colon;<input type="email" name="email" autocomplete="email" id="myEmail" required="required" /></label>
    <label for="myPassword">Password&colon;<input type="password" name="password" autocomplete="current-password" id="myPassword" required="required" /></label>
    <p>Minimum of 8 characters, 1 uppercase, 1 lowercase, and 1 digit.</p>
    <label for="myPostalCode">ZIP/Postal code&colon;<input type="text" name="postal" autocomplete="postal-code" id="myPostalCode" required="required" /></label>
    <fieldset>
        <label><input type="checkbox" name="agree" id="">I agree with the <a href="/v1/legal/web-terms">Terms of Use</a> and the <a href="/v1/legal/web-privacy">Privacy Policy</a>.</label>
        <legend>Subscribe to newsletter?</legend>
        <label><input type="radio" name="radio" value="yes" /> Yes</label>
        <label><input type="radio" name="radio" value="no" /> No</label>
    </fieldset>
    <input type="submit" value="Get started for free" />
</form>
<p><span>Already have an account&quest;</span><a href="/v1/portal/signin">Sign in to my account</a></p>
<p>
    Verify your email address
    Please follow the link we have sent to sabuein@gmail.com to verify this email address.

    Note: It might take up to 30 seconds for the changes to propagate.
    Resend
    Close
</p>