<form action="/v1/auth/login" method="post" enctype="application/x-www-form-urlencoded" class="flexy">
    <label for="myUsername">Username&colon;<input type="text" name="username" autocomplete="username" id="myUsername" required="required" /></label>
    <label for="myPassword">Password&colon;<input type="password" name="password" autocomplete="current-password" id="myPassword" required="required" /></label>
    <input type="submit" value="Sign in" />
</form>
<p class="flexy row"><span>You don&apos;s have an account&quest;</span><a href="/v1/portal/signup">Sign up&excl;</a></p>