<hgroup class="flexy">
    <h1>Two-Factor Authentication</h1>
    <p>Enter the code from your Token application or the one-time scratch code previously generated in your Manager settings&period;</p>
</hgroup>
<form>
    <label for="myCode" title="Token or scratch code">Token or scratch code<input type="text" name="code" id="myCode" /></label>
    <input type="submit" value="Verify" title="Verify" />
</form>